@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
  font-family: 'Noto Sans', sans-serif;
  color: aliceblue;
}

body{
  background-color: rgb(29,31,41);
}
