.TicTacToe
  display flex
  align-items center
  justify-content space-evenly
  padding 1.5rem
  background-color rgba(255, 255, 255, .1)
  margin 1rem 0
  .board
    display flex
    flex-direction column 
    margin-bottom 1rem
    align-self baseline
    &-row
      color black
      display flex
  .square
    color black
    margin 3px
    width 2rem
    height 2rem
  .restart
    color black
    margin 3px
    display block
  .info
    button 
      color black
      padding 3px 6px